<%- include ../partials/header.ejs %>
<body>
  <div class="tournament-container">
    <% if(typeof Organizer == 'string' && Organizer==username) { %>
    <div class="welcome-owner">
      <p>Welcome, <%=Organizer%></p>
    </div>
    <% } %>
    <div class = "update-tournament-button">
      <a class = "updateTournament" href=/tournaments/updateBrackets/<%=Tournament._id%>>Update Tournament</a>
    </div>
    <div class="tournament-headers">
      <div>
        <h3>Round of</h3>
        <p id="tournament-size"><%= Tournament.Size %></p>
      </div>
      <!-- Headers -->
    </div>

    <div class="tournament-brackets">
      <!--Tournament Lists-->
    </div>
  </div>
  
  <div class="listOfPLayers">
    <span id="registeredPlayers"> <%= Tournament.Players %> </span>
  </div>

  <!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/popper.js/dist/umd/popper.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/brackets.js"></script>
</body>
