<%- include ../partials/header.ejs %>
  <body>
  <header class="banner">
    <%- include ../partials/main_nav.ejs %>
  </header>

<div class="container edit-container">
    <div class="row" style="color: black;">
        <div class="offset-md-2 col-md-8 edit-content">
            <form class="form" method="post">
                <div class="form-group">
                <p>
                    <label for="nameTextField">Name</label>
                </p>
                    <input type="text" class="form-control"
                        id="nameTextField"
                        placeholder="Enter The Tournament's Name"
                        name="name" 
                        value = "<%= Tournament.Name %>"
                        required>
                </div>
                <div class="form-group">
                <p>
                    <label for="organizerTextField">Organizer:</label>
                </p>
                    <input type="text" class="form-control"
                        id="organizerTextField"
                        placeholder="Enter The Tournament's Organizer"
                        name="organizer" 
                        value = "<%= Tournament.Organizer %>"
                        required>
                </div>
                <div class="form-group">
                <p>
                    <label for="sizeTextField">Size:</label>
                </p>
                    <input type="text" class="form-control"
                        id="sizeTextField"
                        placeholder="Enter The Tournament's Size"
                        name="size" 
                        value = "<%= Tournament.Size %>"
                        required>
                </div>
                <div class="form-group">
                <p>
                    <label for="dateTextField">Date:</label>
                </p>
                    <input type="date" class="form-control"
                        id="dateTextField"
                        placeholder="Enter The Tournament's Date"
                        name="date" 
                        value = "<%= Tournament.Date %>"
                        required>
                </div>
                <div class="form-group">
                    <h4>Active Status:</h4>
                    <input type="radio"
                        id="true"
                        name="active" 
                        value="true" required>
                        <label for="true">True</label>
                </div>
                <div class="form-group last-input">
                    <input type="radio"
                        id="false"
                        name="active" 
                        value="false" required>
                        <label for="false">False</label>
                </div>
                <div class="edit-buttons">
                    <button class="btn btn-primary edit-confirm" type="submit">
                        <i class="fas fa-edit"></i> Update Tournament's Info
                    </button>
                    <div class="cancel-delete-buttons">
                    <a href="/tournaments" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel Changes
                    </a>
                    <a href="/tournaments/delete/<%= Tournament.id %>" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete Tournament
                    </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
