<%- include ../partials/header.ejs %>
<header class="banner">
<%- include ../partials/main_nav.ejs %>
</header>

<main class="container table-container">
  <div class="row">
    <div class="offset-md-0 col-md-12">
      <h1 class="tournaments-title"><%= title %></h1>

  <% if(typeof displayName == 'string' && displayName) { %>
  <a href="/tournaments/add" class="btn btn-primary" role="button"
    ><i class="fas fa-plus-circle"></i>Add a Tournament</a>
  <% } %>
  
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <tr class="header-format">
            <th class="text-center col-2">Tournament Name</th>
            <th class="text-center col-2">Organizer</th>
            <th class="text-center col-2">Description</th>
            <th class="text-center col-2">Tournament Size</th>
            <th class="text-center col-2">Tournament Date</th>
            <th class="text-center col-2">Active Status</th>
            <% if(typeof displayName == 'string' && displayName) { %>
            <th class="text-center col-1"></th>
            <th class="text-center col-1"></th>
             <% } %>
            <th class="text-center col-2">Register for a Tournament</th>
          </tr>

          <!-- Repeatable Template Row (Nick)-->
          <% for(let count = 0; count < TournamentList.length; count++) { %>
            <tr class='clickable-row active' data-href='/tournaments/brackets/<%= TournamentList[count]._id %>'>
              <td class="col-2 align-middle"><%= TournamentList[count].Name %></td>
              <td class="col-2 align-middle"><%= TournamentList[count].Organizer %></td>
              <td class="col-2 align-middle"><%= TournamentList[count].Description %></td>
              <td class="text-center align-middle col-2"><%= TournamentList[count].Size %></td>
              <td class="text-center align-middle col-2"><%= TournamentList[count].Date %></td>
              <td class="text-center align-middle col-2"><%= TournamentList[count].Active %></td>
              <% if(typeof displayName == 'string' && displayName) { %>
              <td class="text-center col-1"><a href="/tournaments/edit/<%= TournamentList[count]._id %>" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Edit</a></td>
              <td class="text-center col-1"><a href="/tournaments/delete/<%= TournamentList[count]._id %>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a></td>
            <% } %>
            <% if((TournamentList[count].Active == true) && (TournamentList[count].Players.length < TournamentList[count].Size)) { %>
              <td class="text-center col-1"><a href="/tournaments/registerPlayer/<%= TournamentList[count]._id %>" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i>Register</a></td>
            <% } else { %>
              <td class="text-center col-1">Full</td>
            <% } %>
            </tr>
          <% } %>
        </table>
      </div>
    </div>
  </div>
</main>
<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
