<%- include ../partials/header.ejs %>


  <header class="banner">
  <%- include ../partials/main_nav.ejs %>
  </header>

<main class="container register-container">

<%- include ../partials/messages.ejs %>

<div class="row">
    <div class="offset-md-4 col-md-4 register-content">
        <h1 class="tournaments-title">Please Register</h1>
        <form method="POST" autocomplete="off">
            <fieldset class="form-group">
                <p>
                <label for="username">Username: </label>
                </p>
                <input type="text" class="form-control bg-light" name="username" placeholder="Username"
                name="username" placeholder="Enter username"
                id="username" require autofocus>
            </fieldset>

            <fieldset class="form-group">
                <p>
                <label for="password">Password: </label>
                </p>
                <input type="password" class="form-control bg-light"
                name="password" placeholder="Enter password"
                id="password" require>
            </fieldset>


            <fieldset class="form-group last-input">
                <p>
                <label for="displayName">Display Name: </label>
                </p>
                <input type="text" class="form-control bg-light"
                name="displayName" placeholder="Enter Display Name"
                id="displayName" require>
            </fieldset>

            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-primary" value="Register">
                <a href="/">
                    <input type="button" class="btn btn-warning" value="Cancel">
                </a>
            </fieldset>
        </form>
    </div>
</div>
</main>








<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>